@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');

:root {
    --offset-top: 30px !important;
    --offset-bottom: -50px !important;
    --padding-bottom: 50px !important;
}

html {
    font-size: 18px;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #333333;
    font-weight: 400;
    font-size: 18px;
}

a,i, #App-Articulo-Slider, .BtnAction, .App-Header.HeaderHide, .App-Header{
    text-decoration: none;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease
}

div, p, h1, h2, h3, h4, h5, h6, a, img  {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
                                
    -webkit-user-drag: none;    
}

/*//// APP UTILITIES ///*/

.FontTitle1{
    font-size: 1rem;
    color: #333333;
    font-weight: 500;
}

.FontTitle2 {
    font-size: 0.9rem;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 2;
}
#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -100px 0 0 -100px;
}

.BgDegradeRosaV{
    background: rgb(255,51,153);
    background: -moz-linear-gradient(360deg, rgba(255,51,153,1) 18%, rgba(153,102,255,1) 78%);
    background: -webkit-linear-gradient(360deg, rgba(255,51,153,1) 18%, rgba(153,102,255,1) 78%);
    background: linear-gradient(360deg, rgba(255,51,153,1) 18%, rgba(153,102,255,1) 78%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff3399",endColorstr="#9966ff",GradientType=1);
}
.BgDegradeRosaH{
    background: rgb(255,51,153);
    background: -moz-linear-gradient(90deg, rgba(255,51,153,1) 18%, rgba(153,102,255,1) 78%);
    background: -webkit-linear-gradient(90deg, rgba(255,51,153,1) 18%, rgba(153,102,255,1) 78%);
    background: linear-gradient(90deg, rgba(255,51,153,1) 18%, rgba(153,102,255,1) 78%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff3399",endColorstr="#9966ff",GradientType=1);
}


.BgWhite{background: #fff;}

.BgRosa1{background: rgba(255,51,153,1);}

.ClRosa1{color: rgba(255,51,153,1);}

.ClRosa2{color: rgba(153,102,255,1);}

.BorderAll{
    border-radius: 4px;
}

.BorderBottom {
    border-radius: 0 0 4px 4px;
}

.BtnAction {
    border: none;
    padding: 5px 0;
    height: 50px;
    color: #fff;
    width: 100%;
    font-size: 18px;
    cursor: pointer;
    background: #999;
}

.BtnAction--success {
    background: #19961e;
}

.BtnAction--danger {
    background: #ca2014;
}

.BtnAction--alternative {
    background: #009688;
}

.BtnAction--primary {
    background: rgb(255,51,153);
}

.BtnAction--secundary {
    background: rgba(153,102,255,1) ;
}


.BtnAction.BgDegradeRosaH.Active{
    background: rgb(255,51,153);
    background: -moz-linear-gradient(90deg, rgba(255,51,153,1) 18%, rgba(153,102,255,1) 78%);
    background: -webkit-linear-gradient(90deg, rgba(255,51,153,1) 18%, rgba(153,102,255,1) 78%);
    background: linear-gradient(90deg, rgba(255,51,153,1) 18%, rgba(153,102,255,1) 78%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff3399",endColorstr="#9966ff",GradientType=1);
}

.FormularioBase{}
.FormularioBase .Input, .FormularioBase .Select{
    background: #efefef;
    border: none;
    height: 50px;
    padding-left: 25px;
    font-size: 15px;
    color:#999999;
}

.FormularioBase .Input.InputTextarea {
    height: auto;
    padding: 1rem 1.4rem;
}


.FormularioBase select {
    background: url(/assets/img/datos-pago/row-select.png) no-repeat right 15px #efefef !important;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.FormularioBase input::-webkit-input-placeholder{color:#999999;opacity:1 !important;}
.FormularioBase input::-moz-placeholder{color:#999999;opacity:1 !important;}
.FormularioBase input:-ms-input-placeholder{color:#999999;opacity:1 !important;}
.FormularioBase input:-moz-placeholder{color:#999999;opacity:1 !important;}
.FormularioBase select::-webkit-input-placeholder{color:#999999;opacity:1 !important;}
.FormularioBase select::-moz-placeholder{color:#999999;opacity:1 !important;}
.FormularioBase select:-ms-input-placeholder{color:#999999;opacity:1 !important;}
.FormularioBase select:-moz-placeholder{color:#999999;opacity:1 !important;}
.FormularioBase textarea::-webkit-input-placeholder{color:#999999;opacity:1 !important;}
.FormularioBase textarea::-moz-placeholder{color:#999999;opacity:1 !important;}
.FormularioBase textarea:-ms-input-placeholder{color:#999999;opacity:1 !important;}
.FormularioBase textarea:-moz-placeholder{color:#999999;opacity:1 !important;}
.FormularioBase select option{color:#999999;opacity:1 !important;}

.FormularioBase .form-group {
    margin-bottom: 0.5rem;
}


/*//// AND APP UTILITIES ///*/

.App-Wrapper{
    max-width:100%;
    background-color:#fff;
    width:100%;
    padding-bottom:0px;
    margin:0 auto;
    position:relative;
    overflow-x: hidden;
}

/*///////////// APP INTRO /////////////*/

.App-Intro {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.IntroBox-Img{}
.IntroBox-Img .Img{}

/*///////////// APP LOGIN /////////////*/

.App-Login{
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: space-between;
    padding-bottom: 55px !important;
}
.LoginBox-Img {
    justify-content: center;
    align-items: center;
    display: flex;
    /*height: 40vh;*/
}
.LoginBox-Img .BoxImg .Img{}

.LoginBox-Formulario {
    /*height: 60vh;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.LoginBox-Formulario .Title{
    font-size: 1.2rem;
    color: #333333;
    font-weight: 500;
    text-align: center;
    padding: 0 3rem;
    margin-bottom: 0.9rem;
}

.BoxLoginRedes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.BoxLoginRedes .BoxLoginRedes-Text {
    text-align: center;
    font-size: 0.8rem;
    line-height: 0.8rem;
}
.BoxLoginRedes .BoxLoginRedes-Links{
    margin-bottom: 1rem;
}

.BoxLoginRedes .BoxLoginRedes-Links .BoxLoginRedes-Link {
    padding: 12px;
    text-align: center;
    color: #fff;
    width: 50px;
    height: 50px;
    display: inline-block;
    font-size: 1.5rem;
    margin: 0 5px;
    line-height: 1.5rem;
}

.BoxLoginRedes .BoxLoginRedes-Links .BoxLoginRedes-Link.LinkFacebook{
    background: #4267b2;
}
.BoxLoginRedes .BoxLoginRedes-Links .BoxLoginRedes-Link.LinkGoogle{
    background: #dd4b39;
}


/*///////////// APP HEADER /////////////*/

.item {
    z-index: 1;
}

.owl-carousel {
    z-index: 0;
}

.App-Header {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0px;
    /*background: #fff;*/
}

.App-Header.HeaderAbsolute {
    position: absolute !important;
}

.App-Header.HeaderHide {
    top: -100px;
}

.BoxHeader {
    position: relative;
    padding: 1.6rem 0 1rem 0;
    height: 70px;
    background: #ffffff;
}

.BoxHeader.BgTransparent {
    background: transparent;
}

.BoxHeader .BoxHeader-LinkBack {
    position: absolute;
    left: 0;
    color: #333;
    top: 0;
    padding: 1.6rem 1.6rem 1.1rem 1rem;
    font-size: 1.4rem;
    line-height: 1.4rem;
    z-index: 1;
}

.BoxHeader.BgTransparent .BoxHeader-LinkBack {
    color: #fff;
}

.BoxHeader.BgBrands .BoxHeader-Text {
    text-align: center;
    position: relative;
    top: -6px;
    z-index: 0;
}

.BoxHeader .BoxHeader-Text{
    text-align: center;
}
.BoxHeader .BoxHeader-Text .TextSeccion{
    margin-bottom: 0;
    width: 100%;
    padding: 0px 45px;
    overflow: hidden;
    height: 25px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.BoxHeader .BoxHeader-BoxAvisos {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1.6rem 1.1rem 1.6rem 1rem;
    color: #999999;
}

.BoxHeader-BoxAvisos .fa-check{
    color: #999999;
}

.BoxSeach{
    position: relative;
}
.BoxSeach .Input {
    padding-right: 50px;
}
.BoxSeach .BtnSearch {
    position: absolute;
    right: 20px;
    top: 8px;
    font-size: 1.2rem;
    color: #333;
}
.BoxSeach .BtnSearch i{}

/*///////////// APP FOOTER /////////////*/

.App-Footer {
    border-top: 1px solid #eeeeee;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 2;
    height: 56px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BoxRegistrate {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

.BoxRegistrate .Text{
    color: #999;
    margin: 0;
}
.BoxRegistrate .Link{
    color: #333;
    font-weight: 600;
    margin-left: 10px;
}

.FooterBoxMenu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.FooterBoxMenu .FooterBoxMenu-Link {
    color: #999999;
    padding: 15px 20px;
    font-size: 1.4rem;
}
.FooterBoxMenu .FooterBoxMenu-Link.Active {
    color: #ff3399;
}

/*///////////// APP ARTICULOS /////////////*/

.App-Articulos{
    display: flex;
    /*height: 90vh;*/
    padding-top: 5rem;
    flex-direction: column;
}

.App-Articulos-List{/*padding-bottom: 2.5rem;*/}
.App-Articulos-List-Title{}
.App-Articulos-List-Title .Title{}


.App-Articulos-List-Productos{

}
.App-Articulos-List-Productos .BoxProducto {
    display: flex;
    padding: 0.8rem 0;
    border-bottom: 1px solid #eeeeee;
    text-decoration: none;
}
.App-Articulos-List-Productos .BoxProducto .BoxImg{
    width: 23%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;

}
.App-Articulos-List-Productos .BoxDetalle {
    width: 57%;
    padding: 0.5rem 0.3rem 0.3rem 0.7rem;
}

.App-Articulos-List-Productos .BoxDetalle .BoxDetalle-Title{
    color: #333;
}
.App-Articulos-List-Productos .BoxDetalle .BoxDetalle-Text {
    color: #999999;
    font-size: 0.8rem;
    font-weight: 300;
    margin: 0;
}

.App-Articulos-List-Productos .BoxDatos {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.App-Articulos-List-Productos .BoxDatos .Precio {
    text-align: center;
    color: #fff;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}

.App-Articulos-List-Productos .BoxDatos .Vistas {
    text-align: right;
    font-size: 0.8rem;
    color: #333;
}
.App-Articulos-List-Productos .BoxDatos .Vistas i{
    margin-right: 5px;
}

/*///////////// APP MENSAJES /////////////*/

.App-Mensajes{
    display: flex;
    /*height: 90vh;*/
    padding-top: 5rem;
    flex-direction: column;
}

.App-Mensajes-List{/*padding-bottom: 2.5rem;*/}
.App-Mensajes-List-Title{}
.App-Mensajes-List-Title {
    display: flex;
    justify-content: space-between;
}

.App-Mensajes-List-Title .Cantidad {
    text-align: center;
    color: #fff;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    font-size: 0.9rem;
}

.App-Mensajes-List-Mensajes{

}
.App-Mensajes-List-Mensajes .BoxMensaje {
    display: flex;
    padding: 0.8rem 0;
    border-bottom: 1px solid #eeeeee;
}

.App-Mensajes-List-Mensajes .BoxMensaje .BoxImg{
    width: 23%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.App-Mensajes-List-Mensajes .BoxDetalle {
    width: 57%;
    padding: 0.5rem 0.3rem 0.3rem 0.7rem;
}

.App-Mensajes-List-Mensajes .BoxDetalle .BoxDetalle-Title{


}

.App-Mensajes-List-Mensajes .BoxDetalle .BoxDetalle-Text {
    color: #999999;
    font-size: 0.8rem;
    font-weight: 300;
    margin: 0;
}

.App-Mensajes-List-Mensajes .BoxDatos {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.App-Mensajes-List-Mensajes .BoxDatos .Horario {
    text-align: right;
    color: #fff;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 600;
    color: #333333;
    font-size: 0.8rem;
}

.App-Mensajes-List-Mensajes .BoxDatos .Visualizacion {
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    background: #ff3399;
}
.App-Mensajes-List-Mensajes .BoxDatos .Visualizacion i{
    color: #fff;
    font-size: 0.8rem;
}

.App-Mensajes-List-Mensajes .BoxMensaje.Visto .Visualizacion{
    background: #999999;
}
.App-Mensajes-List-Mensajes .BoxMensaje.Visto .BoxDatos .Horario {
    color: #999999;
}

/*///////////// APP MI CUENTA /////////////*/

.App-MiCuenta{
    display: flex;
    /*height: 90vh;*/
    padding-top: 5rem;
    flex-direction: column;
}

.App-MiCuenta-Header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}
.App-MiCuenta-Header .BoxImg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 90px;
    height: 90px;
    margin-bottom: 1rem;
}
.App-MiCuenta-Header .BoxImg .Img{}
.App-MiCuenta-Header .Nombre{}
.App-MiCuenta-Header .BtnEdit{
    text-align: center;
    color: #999999;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    font-size: 0.7rem;
    background: #eeeeee;
}

.App-MiCuenta-Estadisticas{
    display: flex;
    justify-content: center;
    align-items: center;
}
.App-MiCuenta-Estadisticas .BoxEstadistica {
    text-align: center;
    color: #fff;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0.9rem;
    height: 45px;
}
.App-MiCuenta-Estadisticas .BoxEstadistica.BoxReputacion {
    width: 50%;
    margin-right: 1.5%;
    margin-bottom: 3%;
}
.App-MiCuenta-Estadisticas .BoxEstadistica.BoxPublicaciones {
    width: 50%;
    margin-left: 1.5%;
    margin-bottom: 3%;
}

.App-MiCuenta-Estadisticas .BoxEstadistica.BoxPendientes {
    width: 65%;
    margin-right: 1.5%;
}

.App-MiCuenta-Estadisticas .BoxEstadistica.BoxVentas {
    width: 35%;
    margin-left: 1.5%;
}


.App-MiCuenta-Estadisticas .BoxEstadistica .Title {
    margin: 0;
}
.App-MiCuenta-Estadisticas .BoxEstadistica .Valor {
    font-weight: 300;
}

.App-MiCuenta-DatosFormularios{/*padding-bottom: 2.5rem;*/}

/*///////////// APP DATOS PAGO /////////////*/

.App-Titlebar {
    display: flex;
    min-height: calc(100vh - 50px);
    padding-top: 5rem;
    flex-direction: column;
}

.App-DatosPago {
    display: flex;
    min-height: calc(100vh - 50px);
    padding-top: 5rem;
    flex-direction: column;
}

.App-DatosPago-Forma {
    display: flex;
    justify-content: center;
    align-items: center;
}

.App-ButtonBox {
    text-align: center;
    color: #fff;
    font-size: 1.0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0.9rem;
    height: 120px;
    width: 100%;
    margin-right: 1.8%;
    margin-bottom: 0%;
    position: relative;
    cursor: pointer;
    background: #999;
}

.App-DatosPago-Forma .BoxFormaPago {
    text-align: center;
    color: #fff;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0.9rem;
    height: 120px;
    width: 33.3%;
    margin-right: 1.8%;
    margin-bottom: 0%;
    position: relative;
    cursor: pointer;
    background: #999;
}

.App-DatosPago-Forma .BoxFormaPago:last-child {
    text-align: center;
    color: #fff;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0.9rem;
    height: 120px;
    width: 33.3%;
    margin-right: 0%;
    margin-bottom: 0%;
    position: relative;
    cursor: pointer;
    background: #999;
}

.App-DatosPago-Forma .BoxFormaPago.BgDegradeRosaV.Active{
    background: rgb(255,51,153);
    background: -moz-linear-gradient(360deg, rgba(255,51,153,1) 18%, rgba(153,102,255,1) 78%);
    background: -webkit-linear-gradient(360deg, rgba(255,51,153,1) 18%, rgba(153,102,255,1) 78%);
    background: linear-gradient(360deg, rgba(255,51,153,1) 18%, rgba(153,102,255,1) 78%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff3399",endColorstr="#9966ff",GradientType=1);
}

.App-DatosPago-Forma .BoxFormaPago.BoxTarjeta {
}

.App-DatosPago-Forma .BoxFormaPago .Title {margin: 8px;}
.App-DatosPago-Forma .BoxFormaPago .IconChek {
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1.2rem;
}
.App-DatosPago-Forma .BoxFormaPago .Icon {
    margin-bottom: 0.2rem;
    font-size: 1rem;
}
.App-DatosPago-Forma .BoxFormaPago.Active .IconChek {opacity: 1;}

/*///////////// APP DATOS ENVIO /////////////*/

.App-DatosPago-Forma .BoxFormaPago.BoxTipoEnvio {
    width: 100%;
}

.BoxTipoEnvioDisabled {
    opacity: 0.4;
}

/*///////////// APP AGREGAR FOTOS /////////////*/

.App-DatosPago-Fotos{
    flex-direction: column;
}
.App-DatosPago-Fotos .Text{
    margin: 0;
    text-align: left;
    width: 100%;
    font-size: 0.8rem;
    margin-top: 0.3rem;
}

.App-DatosPago-Forma .BoxFormaPago.BoxAgregarFotos {
    width: 100%;
    margin: 0 !important;
}
.App-DatosPago-Forma .BoxFormaPago.BoxAgregarFotos .Icon {
    margin-bottom: 0.2rem;
    font-size: 1.8rem;
}

/*///////////// APP DATOS PAGO /////////////*/

.App-Publicar {
    display: flex;
    min-height: calc(100vh - 50px);
    padding-top: 5rem;
    flex-direction: column;
}

.App-Publicar-Header{
    text-align: center;
}
.App-Publicar-Header .Title{
    font-size: 1.2rem;
    color: #333333;
    font-weight: 500;
    text-align: center;
    padding: 0 3rem;
    margin-bottom: 0.9rem;
}

/*///////////// APP MENSAJES /////////////*/

.App-ArtVendidos{
    display: flex;
    /*height: 90vh;*/
    padding-top: 5rem;
    flex-direction: column;
}

.App-ArtVendidos-List{/*padding-bottom: 2.5rem;*/}
.App-ArtVendidos-List-Title{}
.App-ArtVendidos-List-Title {
    display: flex;
    justify-content: space-between;
}

.App-ArtVendidos-List-Title .Cantidad {
    text-align: center;
    color: #fff;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    font-size: 0.9rem;
}

.App-ArtVendidos-List-Artitulos{

}
.App-ArtVendidos-List-Artitulos .BoxArtVendido {
    display: flex;
    padding: 0.8rem 0;
    border-bottom: 1px solid #eeeeee;
}

.App-ArtVendidos-List-Artitulos .BoxArtVendido .BoxImg{
    width: 23%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}
.App-ArtVendidos-List-Artitulos .BoxDetalle {
    width: 57%;
    padding: 0.5rem 0.3rem 0.3rem 0.7rem;
}

.App-ArtVendidos-List-Artitulos .BoxDetalle .BoxDetalle-Title{
    margin: 0;
}

.App-ArtVendidos-List-Artitulos .BoxDetalle .BoxDetalle-Text {
    color: #999999;
    font-size: 0.8rem;
    font-weight: 300;
    margin-bottom: 5px;
}

.App-ArtVendidos-List-Artitulos .BoxDetalle .Cantidad {
    text-align: center;
    color: #fff;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    font-size: 0.9rem;
    background: #999999;
}

.App-ArtVendidos-List-Artitulos .BoxDatos {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.App-ArtVendidos-List-Artitulos .BoxDatos .Horario {
    text-align: right;
    color: #fff;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 600;
    color: #333333;
    font-size: 0.8rem;
}

.App-ArtVendidos-List-Artitulos .BoxDatos .Visualizacion {
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    /*background: #ff3399;*/
}
.App-ArtVendidos-List-Artitulos .BoxDatos .Visualizacion i {
    color: #ff3399;
    font-size: 0.8rem;
}

.App-ArtVendidos-List-Artitulos .BoxArtVendido.Visto .BoxDatos .Visualizacion i{
    color: #999999;
}

.App-ArtVendidos-List-Artitulos .BoxArtVendido.Visto .Visualizacion{
    /*background: #999999;*/
}
.App-ArtVendidos-List-Artitulos .BoxArtVendido.Visto .BoxDatos .Horario {
    color: #999999;
}

/*///////////// APP ARTICULO /////////////*/

.App-Articulo{
    /*padding-bottom: 4rem;*/
}

.App-Articulo-Slider {
    /*height: 290px;*/
    /*position: fixed;*/
    top: 0;
    z-index: 1;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    /*margin-top: 70px;*/
}

.App-Articulo-Slider.App-Articulo-SliderActive {
    margin-top: 0;
}

.Articulo-Slider-Slide{width: 100%;}
.Articulo-Slider-Slide a{width: 100%;}
.Articulo-Slider-Slide a img{width: 100%;}

.App-Articulo-Detalle {
    /*margin-top: 335px;*/
    z-index: 2;
    position: relative;
    background: #fff;
}

.App-Articulo-Detalle-Header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eeeeee;
    padding: 1rem 0;
}

.App-Articulo-Detalle .Text{
    color: #999999;
    font-size: 0.8rem;
    font-weight: 300;
    margin-bottom: 5px;
        line-height: 1rem;
}

.App-Articulo-Detalle-Header .Numero {
    text-align: center;
    color: #fff;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    font-size: 0.8rem;
}

.App-Articulo-Detalle-Header .BoxTitle{}
.App-Articulo-Detalle-Header .BoxTitle .Title{
    margin: 0;
}
.App-Articulo-Detalle-Header .BoxTitle .Categorias{
    margin: 0;
}
.App-Articulo-Detalle-Header .BoxTitle .Categorias .Categoria{
    color: #999999;
    font-size: 0.8rem;
    font-weight: 300;
    margin-right: 10px;
}

.App-Articulo-Detalle-Descripcion{padding: 1rem 0;}
.App-Articulo-Detalle-Descripcion .BoxText {
    max-height:150px;
    /*transform: scaleY(0);*/
    /*transform-origin: top;*/
    overflow: hidden;
    margin-bottom: 10px;
}
.App-Articulo-Detalle-Descripcion .BoxText.ShowText {
    max-height: none;
    /*transform: scaleY(1);*/
}

.App-Articulo-Detalle-Descripcion .LinkVerMas {
    background: #eee;
    font-size: 0.7rem;
    font-weight: 700;
    padding: 5px 10px;
    color: #999;
}

.App-Articulo-Detalle-Entrega{padding: 1rem 0;margin-bottom: 15px;}
.App-Articulo-Detalle-Pagos{padding: 1rem 0;margin-bottom: 15px;}
.App-Articulo-Detalle-Pagos .BoxPagos{
    display: flex;
    justify-content: space-between;
}

.Articulo-Slider {
    position: relative;
    /*height: 290px;*/
}

.Articulo-Slider .owl-stage-outer {
    z-index: 1;
}
.Articulo-Slider .owl-controls {
    position: absolute;
    width: 100%;
    z-index: 1;
    bottom: 30px;
    text-align: center;
}
.Articulo-Slider .owl-controls .owl-dot {
    display: inline-block;
    margin: 0 2px;
}

.Articulo-Slider .owl-controls .owl-dot.active span{
    background: rgba(255,255,255,1);
}
.Articulo-Slider .owl-controls .owl-dot span{
    border: 1px solid rgba(255,255,255,1);
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
}

.Articulo-Slider .owl-controls .owl-dot:hover span{
    background: rgba(255,255,255,1);
}

.App-Brands{
        text-align: right;
}

.App-Brands .ImgLogo{
    width: 90px;
}


button:disabled {
    background-color: #999;
    /*opacity: 0.4;*/
}