/****************** 4 - RESPONSIVE ***************/
@media (min-width: 1280px){}
@media (max-width: 1200px){}

@media (max-width: 990px){
	.Inscribe-Pasos {
    width: 100% !important;
}
	.IntroHeader-Text .Title br{display: none;}
	.IntroHeader-Text .Title {
	    font-size: 2rem;
	    line-height: 2rem;
	}
    .IntroHeader-Text .Title span {
	    font-size: 1.6rem;
	    line-height: 2rem;
	}

	.Home-Intro .ImgIntro {

	    position: relative;
	    right: 0px;

	}

	.Header-Logo a .LogoPrincipal {height: 30px;}
	.Header.HeaderActive {padding: 10px 0;z-index: 2;}
	.Menu-Principal ul {
	    list-style: none;
	    padding: 0;
	    margin: 0;
	        margin-top: 0px;
	    width: 100%;
	    margin-top: 4rem;
	}

	.Menu-Principal ul li{float: left;width: 100%;}

	.Menu-Principal a:hover {color: #fff;}

	.Header-Menu {display: none;}
	.Header {height: auto;padding: 10px 0;}
	.icon-menu-mobile {display: block;padding: 5px 0px;}
	.Menu-Principal {list-style: none; width: 100%;}

	
	.Menu-Principal a {
	    font-size: 1.1rem;
	    color: 
	    #fff;
	    padding: 5px 20px;
	    width: 100%;
	    float: left;
	}
	.Menu-Principal a.LinkInstagram {
	    padding: 36px 20px;
	    font-size: 2.2rem;
	}
	.Header-Logo {
	    display: flex;
	    max-width: 100% !important;
	    width: 100%;
	    flex: 0 0 100%;
	}
}

@media (max-width: 768px){
	.fancybox-slide--html .fancybox-close-small {
    color: #fff;
}
	.BoxLightboxJurado .BoxLightboxJurado-Info .Line {
	    height: 55px;
	    width: 3px;
	    background: #e48400;
	    position: absolute;
	    top: -30px;
	    left: 40px;
	}
	.BoxLightboxJurado .BoxLightboxJurado-Img {
	    width: 100%;
	    float: left;
	    height: 400px;
	    overflow: hidden;
	}
	.BoxLightboxJurado .BoxLightboxJurado-Info {
	    width: 100%;
	    float: left;
	    padding: 50px 40px;
	    position: relative;
	}
	.Fechas-Box-Inscripcion .Title .TextTitle {
    font-size: 1.4rem;
    margin: 0;
        margin-bottom: 0px;
    margin-bottom: 15px;

}
.Fechas-Box-Desgustacion .Fecha .Text {
    font-size: 1rem;
}
.BoxAnio {
    left: inherit;
    right: 0;
    width: 150px;
    height: 150px;
    line-height: 1.6rem;
    font-size: 1.4rem;
}
.Home-Inscripcion-Box .Title {
    font-size: 2.8rem;
line-height: 3rem;
}

.Footer-Autor{
	margin: 15px 0;
}

.Footer-Logo{
    text-align: center;
    margin-bottom: 15px;
}
.Footer-Redes {
    justify-content: center;
}

.Fechas-Box-Desgustacion .Title {

    width: 100%;
    padding-right: 0;

}

.Home-Concurso-Header .Line {
    left: 0;
    top: -20px;

}

.Home-Fechas-Header {
    padding: 5px 0;
}

.Home-Fechas-Header .Title {

    color: #e48400;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    line-height: 2rem;

}
.Fechas-Box-Desgustacion .Title .TextTitle {

    font-weight: 700;
    font-size: 1.4rem;
    margin: 0;

}

.Fechas-Box-Inscripcion .Title .TextTitle br{display: none;}

.Fechas-Box-Inscripcion{flex-direction: column;}
.Fechas-Box-Inscripcion .Title {width: 100%;padding-right: 0;}
.Fechas-Box-Inscripcion .Apertura {width: 100%;}
.Fechas-Box-Inscripcion .Cierre {width: 100%;}


	.Home-Jurado-Box.Home-Jurado-BoxB {

    top: 0;

}
.Home-Jurado-Box.Home-Jurado-BoxC {

    top: 0;

}
.Home-Jurado-Header .Title {

    font-size: 2rem;
    width: 100%;
    line-height: 2rem;

}
	.ImgIntro-Grid {
	    position: static;
}

	/*.Home-Intro{
		height: auto;
	}*/
	.IntroHeader-Text .Title {
	    font-size: 2rem;
	    line-height: 2.2rem;
	}
	.IntroHeader-Text .Title span {
	    font-size: 1.4rem;
	    line-height: 1.6rem;
	}
	.Home-Intro .ImgIntro {
	    right: 0;
	    width: 200px;
	}
	.IntroHeader-Text {
	    padding-top: 1rem;
	}
	.Inscribe-Header .Title {
	    font-size: 1.6rem;
	    line-height: 1.8rem;
	    margin-top: 0rem;
	}
	.BoxPaquete .Title {
	    font-size: 1.2rem;
	}
}


@media (max-width: 480px){
	.IntroHeader-Text .Title br{display: none;}

}